
 
 <div class="container mx-auto lg:p-4 p-0">
    <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">

        <div class=" shadow-md">
        <div  class="bg-primary-900 rounded-lg text-gray lg p-4">
            <div class="w-full grid grid-cols-4 lg:grid-cols-4 gap-4">
          

                <div class="lg:col-span-4 col-span-4 flex flex-col">
                    <label class="text-lg">Name</label>
                    <input type="text" [(ngModel)]="name" name="name" class="w-full p-2 rounded-lg  text-black">
                </div>

                <div class="lg:col-span-4 col-span-4 flex flex-col">
                    <label class="text-lg">icon</label>
                    <input type="text" [(ngModel)]="icon" name="icon"  class="w-full p-2 rounded-lg text-black">
                </div>

                <div class="lg:col-span-4 col-span-4 flex flex-col">
                    <label class="text-lg">images</label>
                    <input type="file" class="w-full p-2 rounded-lg" accept=".jpeg, .bmp, .jpg, .png, .gif"
                    (change)="processFile($event)" >
                </div>

                <div class="lg:col-span-4 col-span-4 flex flex-col">
                  <img [src]="images_preview" class="w-40">
                </div>
                
                

                <div class="lg:col-span-4 col-span-4 flex flex-col">
                    <button type="submit" (click)="save()" class="text-primary-900 font-semibold bg-second-900 p-2 rounded-xl hover:bg-second-700">
                        Save All
                    </button>
                </div>


                <div class="lg:col-span-4 col-span-4 flex flex-col" *ngIf="registrationSuccess">
                    <div class="bg-green-600 px-5 py-5 rounded-xl text-slate-950">
                        <i class="fa-solid fa-check"></i>  {{successMessage}}
                    </div>

                </div>




            </div>
       




        </div>
     

       
    </div>

       


    </div>
</div>