<div class="bg-primary-900 mt-5 lg:mt-0 rounded-lg p-4 shadow-md">
    <h2 class="text-2xl font-semibold text-gray">Latest Products</h2>
    <div class="mt-4 space-y-3">
    
        <div class="flex items-center" *ngFor="let product of products">
            <img src="{{product.imageEcommerce}}" class="w-10 h-10 rounded-full"/>
            <div class="ml-4">
                <p class="text-lg font-semibold text-second-900"> {{product.title}}</p>
                <p class="text-gray"> {{product.stock}}</p>
                <p class="text-gray"> {{product.price_dsc}} TL  /  ${{product.price_usd}}</p>
                <p class="text-gray"> {{product.summary}}</p>
            </div>
        </div>
      


    </div>

</div>